<html>
  <head>
    <title>DeviceMotion Test</title>
  </head>
  <body>
    <div>
      <button onClick="deviceMotionRequest()">Click</button>
      <span id="x">0</span>
      <span id="y">0</span>
      <span id="z">0</span>
    </div>
    <p>
      <span id="result">0</span>
    </p>
    <script>
      var array_x, array_y, array_z = [];
      var count = 0;
      function deviceMotionRequest () {
        if (DeviceMotionEvent.requestPermission) {
          DeviceMotionEvent.requestPermission()
            .then(permissionState => {
              if (permissionState === 'granted') {
                window.addEventListener("devicemotion", function (event) {
                  if (!event.accelerationIncludingGravity) {
                    alert('event.accelerationIncludingGravity is null');
                    return;
                  }
                  if (count < 128) {
                    array_x.push(event.accelerationIncludingGravity.x);
                    array_y.push(event.accelerationIncludingGravity.y);
                    array_z.push(event.accelerationIncludingGravity.z);
                    count += 1;
                  } else {
                    // Call python program here!
                    document.getElementById('x').innerHTML = array_x;
                    document.getElementById('y').innerHTML = array_y;
                    document.getElementById('z').innerHTML = array_z;
                    fetch('/post', {
                      method: "POST",
                      headers: { "Content-Type": "application/json"},
                      body: JSON.stringify({"x":array_x, "y":array_y, "z":array_z})
                    }).then(
                      response => response.json()
                    ).then(
                      json => { document.getElementById("result").innerHTML += JSON.stringify(json); }
                    ).catch(
                      e => console.error(e)
                    );
                    array_x = [];
                    array_y = [];
                    array_z = [];
                    count = 0;
                  }
                })
              }
            })
            .catch(console.error);
        } else {
          alert('DeviceMotionEvent.requestPermission is not found')
        }
      }
    </script>
  </body>
</html>
Footer
